@mixin boyut($g, $y) {
  width: $g;
  height: $y;
}

@mixin renk($bc, $c) {
  //* Parametre kullanarak
  background-color: $bc;
  color: $c;
}

@mixin display {
  //* Parametre kullanmadan
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  @include display();
  @include boyut(50vw, 50vh);
  @include renk(darkblue, goldenrod);

  &__text {
    @extend .container;
    @include boyut(30vw, 40vh);
    @include renk(goldenrod, darkblue);
  }

  &__text2 {
    @extend .container;
    @include boyut($y: 30vw, $g: 40vh); //* Parametre sıralaması değiştirildi
  }
}
