$font-size: 18px;
$width: 30vh;
$height: 30vh;

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icerik {
  float: left;
  width: 300px;
  background-color: #ebebeb;
  padding: 5px 10px;

  h1 {
    font-size: $font-size;
    // color: red;
  }

  p {
    font-size: $font-size - 4;
  }

  ul {
    padding-left: 20px;

    li {
      font-size: $font-size - 5;
    }
  }
}

.alternative {
  width: $width; //* width değişkenden alındı
  height: $height; //* height değişenden alındı
  background-color: darkblue;
  color: goldenrod;
  @extend body; //* body'nin bir takım özellikleri aktarıldı

  &__section {
    width: $width - 5; //* width değişkenden alındı ve "-" operatörü ile 5 azaltıldı
    height: $height - 5; //* height değişkenden alındı ve "-" operatörü ile 5 azaltıldı
    background-color: goldenrod;
    @extend body; //* body'nin bir takım özellikleri aktarıldı
    &--last {
      width: $width - 10; //* width değişkenden alındı ve "-" operatörü ile 10 azaltıldı
      height: $height - 10; //* height değişkenden alındı ve "-" operatörü ile 5 azaltıldı
      background-color: darkblue;
      color: goldenrod;
      @extend body; //* body'nin bir takım özellikleri aktarıldı
      text-align: center;
    }
  }
}
