@mixin display {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin size($w, $h) {
  width: $w;
  height: $h;
}

body {
  @include display();
  background-color: wheat;
}

.container {
  @extend body;
  @include size(50vw, 50vh);
  gap: 50px;
  padding: 10px;
  background-color: darkblue;
  color: goldenrod;

  &__box1 {
    @extend .container;
    @include size(10vw, 30vh);
    background-color: goldenrod;
    color: darkblue;
  }

  &__box2 {
    @extend .container__box1;
  }

  &__box3 {
    @extend .container__box1;
  }
}
